.DS_Store
node_modules
/public/note
/public/vise
/src/logs/
_power.ts
dist
.idea
.vscode
.git

# local env files
.env.local
.env.*.local

# Log files
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock*

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
